.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.title {
  color: var(--0-f-172-a, #0d172b);

  color: var(--0-f-172-a, color(display-p3 0.0588 0.0902 0.1647));
  /* h1 */
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3rem; /* 100% */
  letter-spacing: -0.036rem;
}

.controls-list {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.list-container {
  display: flex;
  gap: 1rem;
}
