@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1b1338;
    --foreground: #1b1338;

    --card: #1b1338;
    --card-foreground: #ffffff;

    --popover: #ffffff;
    --popover-foreground: #1b1338;

    --primary: #d100d1;
    --primary-foreground: #ffffff;

    --secondary: #152641;
    --secondary-foreground: ffffff;

    --muted: #0d0a1f;
    --muted-foreground: #ffffff;

    --accent: #152641;
    --accent-foreground: #ffffff;

    --destructive: #152641;
    --destructive-foreground: #ffffff;

    --border: #ffffff;
    --input: #ffffff;
    --ring: #ffffff;

    --radius: 0rem;
  }

  .dark {
    --background: #1b1338;
    --foreground: #1b1338;

    --card: #1b1338;
    --card-foreground: #ffffff;

    --popover: #ffffff;
    --popover-foreground: #1b1338;

    --primary: #d100d1;
    --primary-foreground: #ffffff;

    --secondary: #152641;
    --secondary-foreground: ffffff;

    --muted: #0d0a1f;
    --muted-foreground: #ffffff;

    --accent: #152641;
    --accent-foreground: #ffffff;

    --destructive: #152641;
    --destructive-foreground: #ffffff;

    --border: #ffffff;
    --input: #ffffff;
    --ring: #ffffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
