@tailwind base;
@tailwind components;
@tailwind utilities;

/* --background: #1b1338;
    --foreground: #1b1338;

    --card: #1b1338;
    --card-foreground: #ffffff;

    --popover: #ffffff;
    --popover-foreground: #1b1338;

    --primary: #d100d1;
    --primary-foreground: 253, 49%, 15%, 1;

    --secondary: #152641;
    --secondary-foreground: ffffff;

    --muted: #0d0a1f;
    --muted-foreground: #ffffff;

    --accent: #152641;
    --accent-foreground: #ffffff;

    --destructive: #152641;
    --destructive-foreground: #ffffff;

    --border: #ffffff;
    --input: #ffffff;
    --ring: #ffffff; */

@layer base {
  :root {
    --background: 253, 49%, 15%;
    --foreground: 281, 13%, 22%;

    --card: 281, 13%, 22%;
    --card-foreground: 0, 0%, 100%;

    --popover: 0, 0%, 100%, 0.8;
    --popover-foreground: 253, 49%, 15%, 1;

    --primary: 308, 100%, 43%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 225, 25%, 20%;
    --secondary-foreground: 100, 100%, 100%;

    --muted: 235, 100%, 12%;
    --muted-foreground: 0, 0%, 100%;

    --accent: 225, 25%, 20%;
    --accent-foreground: 0, 0%, 100%;

    --destructive: 225, 25%, 20%;
    --destructive-foreground: 0, 0%, 100%;

    --border: 0, 0%, 100%;
    --input: 0, 0%, 100%;
    --ring: 0, 0%, 100%;

    --radius: 0rem;
  }

  .dark {
    --background: 253, 49%, 15%;
    --foreground: 281, 13%, 22%;

    --card: 281, 13%, 22%;
    --card-foreground: 0, 0%, 100%;

    --popover: 0, 0%, 100%, 0.8;
    --popover-foreground: 253, 49%, 15%, 1;

    --primary: 308, 100%, 43%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 225, 25%, 20%;
    --secondary-foreground: 100, 100%, 100%;

    --muted: 235, 100%, 12%;
    --muted-foreground: 0, 0%, 100%;

    --accent: 225, 25%, 20%;
    --accent-foreground: 0, 0%, 100%;

    --destructive: 225, 25%, 20%;
    --destructive-foreground: 0, 0%, 100%;

    --border: 0, 0%, 100%;
    --input: 0, 0%, 100%;
    --ring: 0, 0%, 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
