@keyframes blink {
  50% {
    opacity: 0;
    transform: scaleY(0.6);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.c-count-down-display-cell {
  &:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    background-color: hsl(var(--popover-foreground));
    width: 4px;
    height: 45px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: blink 1s cubic-bezier(0.79, -0.14, 0.19, 1.09) 0s infinite;
  }

  &:last-child {
    padding-right: 0;
  }
}
